<!-- Copyright contributors to the IBM Security Verify Access OIDC Provider Resources project -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$TITLE_FORM_POST$</title>
    <script src="/oauth2/static/oauth_response.js" type="text/javascript" defer></script>
  </head>
  <body>
    <p>$TEXT_REDIRECTING$</p>
    <form id="redirect_form" name="redirect_form" action="@ACTION@" method="POST">
      [RPT oauth_form_post]
      <input type="hidden" name="@OAUTH_HIDDEN_NAME@" value="@OAUTH_HIDDEN_VALUE@" />
      [ERPT oauth_form_post]
    </form>
  </body>
</html>
