<!-- Copyright contributors to the IBM Security Verify Access OIDC Provider Resources project -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$TITLE_ERROR$</title>
    <link rel="stylesheet" type="text/css" href="/oauth2/static/styles.css" />
  </head>
  <body>
    <div class="header">
          <div class="brandingLogo"><img alt="$TEXT_COMPANY_LOGO$" src="/oauth2/static/ibm-logo.png" /></div>
    </div>

    <div class="content">
      <div class="contentHeader">
        <h1 class="pageTitle">$TITLE_ERROR$</h1>
        <div class="instructions"></div>
      </div>

      <div class="pageContent">
        <p>$TEXT_ERROR_HEADER$</p><br/>
        <p>$TEXT_ERROR_CODE$ <b>@ERROR_CODE@</b></p><br/>
        <p>$TEXT_ERROR_DESCRIPTION$ <b>@ERROR_DESCRIPTION@</b></p><br/>
      </div>
    </div>
  </body>
</html>