<!-- Copyright contributors to the IBM Verify Identity Access OIDC Provider Resources project -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$TITLE_CONSENT$</title>
    <link rel="stylesheet" type="text/css" href="/oauth2/static/styles.css" />
    <script>
      // var authDetails = @RQST_AUTHORIZATION_DETAILS@;
      // var claims = @RQST_CLAIMS@;
    </script>
  </head>
  <body>
    <div class="header">
      <div class="brandingLogo"><img alt="$TEXT_COMPANY_LOGO$" src="/oauth2/static/ibm-logo.png" /></div>
    </div>
    <div class="content">
      <div class="contentHeader">
        <h1 class="pageTitle">$TITLE_CONSENT$</h1>
        <div class="instructions"></div>
      </div>

      <div class="pageContent">
        <form action="@CONSENT_URI@" method="post">

          <p>$TEXT_CONSENT_CLIENT$</p>
          <div class="sectionTitle">
            <p><b>@CLIENT_NAME@</b></p>
          </div> 

          <p>$TEXT_CLIENT_TYPE$ @CLIENT_TYPE@</p>
          <br/>
          <p>$TEXT_CONSENT_PARAMETER$</p>
          <br/>
          <ul style="margin-left: 20px">
            <li>$TEXT_CLIENT_ID$ @CLIENT_ID@</li>
          </ul>
          <br/>
          <p>$TEXT_CONSENT_USER$</p>
          <p><b>@USERNAME@</b></p>
          <br/>

          <p>$TEXT_CONSENT_ALREADY_APPROVED$</p>
          <!-- START NON-TRANSLATABLE -->
          <ul style="margin-left: 20px">
          [RPT oauthTokenScopePreapprovedRepeatable]
          <li>@OAUTH_TOKEN_SCOPE_REPEAT@</li>
          <input type="hidden" name="scope" value="@OAUTH_TOKEN_SCOPE_REPEAT@" />
          [ERPT oauthTokenScopePreapprovedRepeatable]
          </ul>
          <!-- END NON-TRANSLATABLE -->
          <br/>
          <p>$TEXT_CONSENT_PENDING_APPROVAL$</p>
          <!-- START NON-TRANSLATABLE -->
          [RPT oauthTokenScopeNewApprovalRepeatable]
          <input type="checkbox" name="scope" value="@OAUTH_TOKEN_SCOPE_REPEAT@" checked="checked"/><label>@OAUTH_TOKEN_SCOPE_REPEAT@</label><br />
          [ERPT oauthTokenScopeNewApprovalRepeatable]
          <!-- END NON-TRANSLATABLE -->

          <p/> 

          <p>$TEXT_CONSENT_AD_ALREADY_APPROVED$</p>
          <!-- START NON-TRANSLATABLE -->
          <ul style="margin-left: 20px">
          [RPT oauthTokenADPreapprovedRepeatable]
          <li>@OAUTH_TOKEN_SCOPE_REPEAT@</li>
          <input type="hidden" name="ADT" value="@OAUTH_TOKEN_AD_REPEAT@" />
          [ERPT oauthTokenADPreapprovedRepeatable]
          </ul>
          <!-- END NON-TRANSLATABLE -->
          <br/>
          <p>$TEXT_CONSENT_AD_PENDING_APPROVAL$</p>
          <!-- START NON-TRANSLATABLE -->
          [RPT oauthTokenADNewApprovalRepeatable]
          <input type="checkbox" name="ADT" value="@OAUTH_TOKEN_AD_ID_REPEAT@" checked="checked"/><label>@OAUTH_TOKEN_AD_REPEAT@</label><br />
          [ERPT oauthTokenADNewApprovalRepeatable]
          <!-- END NON-TRANSLATABLE -->

          <p/> 
          <br/>
          <p>$TEXT_CONSENT_APPROVE$</p>
          <br/>

            <!--
                The scope parameters can be:
                1. Requested as part of the redirect for authorization by the client
                   by appending them to the authorize URL as query string parameters, and/or
                2. If not requested by the client, and you know what authorization options
                   are valid for the protected resources being requested, you may
                   also manually prompt for them in this page template as demonstrated
                   by the following example scope's
            -->
            <!--
            <table>
                <tr>
                    <td>Scopes to be authorized:&nbsp</td>
                    <td>Scope 1</td><td><input type="checkbox" name="scope" value="token_scope_1" /></td>
                    <td>:: Scope 2</td><td><input type="checkbox" name="scope" value="token_scope_2" /></td>
                    <td>:: Scope 3</td><td><input type="checkbox" name="scope" value="token_scope_3" /></td>
                </tr>
            </table>
            -->

          <table>
            <tr>
              <td>$BUTTON_PERMIT$&nbsp;</td>
              <td><input type="radio" name="trust_level" value="permit" checked /></td>
            </tr>
            <tr>
              <td>$BUTTON_DENY$&nbsp;</td>
              <td><input type="radio" name="trust_level" value="deny" /></td>
            </tr>
          </table>
          <br/>

          <div class="controls">
            <input class="submitButton" type="submit" name="submit" value="$BUTTON_SUBMIT$" style="width: 80px" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>